.add-success-content-wrap{
    width: 1190px;
    margin: 30px auto 0px;
    padding-bottom: 30px;
    border-bottom: 2px solid #dedede;
}
.add-success-content-wrap h2{
    padding-left: 40px;
    height: 30px;
    background-image: url(../images/confirmProduct-icon.png);
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
    font-weight: normal;
    letter-spacing: 2px;
}
.add-success-content-wrap>ul{
    width: 100%;
    margin-top:30px;
}
.add-success-content-wrap>ul>li{
    width: 100%;
}
.content-info-img{
    margin-left: 40px;
    float: left;
    width: 90px;
    height: 90px;
}
.content-info-img img{
    width: 100%;
    height: 100%;
}
.content-info-desc{
    margin-left: 20px;
    float: left;
    font-size: 12px;
}
.content-info-desc li{
    line-height: 23px;
}
.content-info-desc li span{
    margin: 0 8px;
}
.content-info-desc li:nth-child(3){
    color:rgb(102,102,102);
}
.step-of-menu{
    float: right;
}
.look-more-info{
    margin-top: 50px;
    float: left;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-right: 30px;
    cursor: pointer;
}
.shopping-car-computed{
    margin-top: 50px;
    float: left;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: white;
    background-color: #e00;
    cursor: pointer;
}
.shopping-car-computed:hover{
    background-color: black;
}