* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body,
html {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
@media(max-width:1440px){
    .banner {
        width: 1000px;
        margin: 0 auto;
    }

    /* 顶部内容修饰 */
    .page {
        width: 1000px;
        position: absolute;
        top: 4%;
        left: 50%;
        margin-left: -500px;
    }

    /* 美丽世界子页面修饰 */
    .page-top {
        margin-top: 24.5px;
        height: 65px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .sideleft {
        margin-left: 40px;
        margin-top: 36px;
        float: left;
    }

    .sideleft li {
        height: 14px;
        list-style: none;
        float: left;
        height: 14px;
        line-height: 14px;
    }

    .sideleft li:nth-child(2) {
        margin-left: 30px;
    }

    .sideleft li:nth-child(3),
    .sideleft li:nth-child(5) {
        margin: 0 15px;
        font-size: 12px;
        color: #808081;
    }

    .sideleft li:last-child {
        margin-left: 30px;
    }

    .sideleft li .cn {
        color: white;
    }

    .sideleft li a {
        color: #808081;
        font-size: 12px;
    }

    .sideleft li a:hover {
        color: #fff;
    }

    .logo {
        float: right;
        display: block;
        margin-top: 20px;
        margin-right: 66px;
    }

    .page3-content {
        width: 1000px;
        height: 124px;
        background: white;
        position: relative;
    }

    .page3-content>img:nth-child(1) {
        position: absolute;
        width: 190px;
        left: 95px;
        top: 30px;
    }

    .page3-content>img:nth-child(2) {
        position: absolute;
        width: 280px;
        right: 0;
        top: 0;
    }

    .page3_nav {
        position: absolute;
        bottom: 2px;
        left: 80px;
        width: 329px;
        height: 24px;
    }

    .under_line3 {
        background: #646464;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        width: 265px;
        height: 4px;
        left: 120px;
        bottom: 0;
    }

    .move_line3 {
        width: 60px;
        position: absolute;
        left: 205px;
        top: 0;
        height: 4px;
        background: red;
    }

    .smallbox3 {
        margin-left: 323px;
        height: 107px;
        margin-bottom: 10px;
    }

    .smallbox3 img {
        margin-top: 2px;
        height: 105px;
        float: left;
    }

    .wrap-child {
        width: 1440px;
        height: 810px;
    }

    .sub_menu3 {
        float: left;
        margin-top: 5px;
        margin-left: 12px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sub_menu3 div a {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        margin-top: 15px;
    }

    .sub_menu3 div a:hover {
        color: red;
    }

    .page>img {
        width: 1000px;
    }
    /* 美丽世界子页面导航栏修饰、 */
    .page-nav {
        margin-top: 8px;
        width: 329px;
        height: 20px;
    }

    .page-nav li {
        float: left;
        height: 20px;
        line-height: 20px;
        list-style: none;
        margin-left: 45px;
    }

    .page-nav li a {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .page-nav li:hover a {
        color: red;
    }

    .page-nav1 {
        color: red;
    }
}
@media(min-width:1440px){
    .banner {
        width: 1440px;
        margin: 0 auto;
    }
    
    .page {
        position: absolute;
        top: 7%;
        left: 50%;
        margin-left: -720px;
        width: 1440px;
    }
    /* 顶部内容修饰 */
    .page-top {
        margin-top: 24.5px;
        height: 65px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    .sideleft {
        margin-left: 40px;
        margin-top: 36px;
        float: left;
    }

    .sideleft li {
        height: 14px;
        list-style: none;
        float: left;
        height: 14px;
        line-height: 14px;
    }

    .sideleft li:nth-child(2) {
        margin-left: 30px;
    }

    .sideleft li:nth-child(3),
    .sideleft li:nth-child(5) {
        margin: 0 15px;
        font-size: 12px;
        color: #808081;
    }

    .sideleft li:last-child {
        margin-left: 30px;
    }

    .sideleft li .cn {
        color: white;
    }

    .sideleft li a {
        color: #808081;
        font-size: 12px;
    }

    .sideleft li a:hover {
        color: #fff;
    }

    .logo {
        float: right;
        display: block;
        margin-top: 20px;
        margin-right: 66px;
    }
    .page3-content {
        width: 1440px;
        height: 176px;
        background: white;
        position: relative;
    }

    .page3-content>img:nth-child(1) {
        position: absolute;
        left: 95px;
        top: 50px;
    }

    .page3-content>img:nth-child(2) {
        position: absolute;
        right: 0;
        top: 0;
    }

    .page3_nav {
        position: absolute;
        bottom: 2px;
        left: 100px;
        width: 329px;
        height: 24px;
    }

    .under_line3 {
        background: #646464;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        width: 289px;
        height: 4px;
        left: 120px;
        bottom: 0;
    }

    .move_line3 {
        width: 71px;
        position: absolute;
        left: 218px;
        top: 0;
        height: 4px;
        background: red;
    }

    .smallbox3 {
        margin-left: 336px;
        height: 107px;
    }

    .smallbox3 img {
        margin-top: 2px;
        height: 105px;
        float: left;
    }

    .wrap-child {
        width: 1440px;
        height: 810px;
    }

    .sub_menu3 {
        float: left;
        margin-top: 5px;
        margin-left: 12px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sub_menu3 div a {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        margin-top: 15px;
    }

    .sub_menu3 div a:hover {
        color: red;
    }
    .page-nav {
        margin-top: 8px;
        width: 329px;
        height: 20px;
    }

    .page-nav li {
        float: left;
        height: 20px;
        line-height: 20px;
        list-style: none;
        margin-left: 31px;
        cursor: pointer;
    }
    /* 美丽三大导航栏修饰 */
    .page-nav li a {
        font-size: 18px;
        color: black;
    }

    .page-nav li:hover a {
        color: red;
    }

    .page-nav1 {
        color: red;
    }
}