* {
    margin: 0;
    padding: 0;
}

body,
html {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

a {
    text-decoration: none;
}
@media(max-width:1440px){
    .banner {
        width: 1000px;
        margin: 0 auto;
    }

    /* 顶部内容修饰 */
    .page {
        width: 1000px;
        position: absolute;
        top: 4%;
        left: 50%;
        margin-left: -500px;
    }

    /* 美丽世界子页面修饰 */
    .page-top {
        margin-top: 24.5px;
        height: 65px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .sideleft {
        margin-left: 40px;
        margin-top: 36px;
        float: left;
    }

    .sideleft li {
        height: 14px;
        list-style: none;
        float: left;
        height: 14px;
        line-height: 14px;
    }

    .sideleft li:nth-child(2) {
        margin-left: 30px;
    }

    .sideleft li:nth-child(3),
    .sideleft li:nth-child(5) {
        margin: 0 15px;
        font-size: 12px;
        color: #808081;
    }

    .sideleft li:last-child {
        margin-left: 30px;
    }

    .sideleft li .cn {
        color: white;
    }

    .sideleft li a {
        color: #808081;
        font-size: 12px;
    }

    .sideleft li a:hover {
        color: #fff;
    }

    .logo {
        float: right;
        display: block;
        margin-top: 20px;
        margin-right: 66px;
    } 
    .page_list2>li {
        width: 1000px;
        list-style: none;
        position: relative;
    }
    .page-nav {
        margin-top: 8px;
        width: 329px;
        height: 20px;
    }

    .page-nav li {
        float: left;
        height: 20px;
        line-height: 20px;
        list-style: none;
        margin-left: 45px;
    }

    .page-nav li a {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .page-nav li:hover a {
        color: red;
    }

    .page-nav1 {
        color: red;
    }

    .page-nav1 {
        color: red;
    }
    .page_list2>li:nth-child(1) {
        height: 78px;
    }

    .page_list2>li:nth-child(2) {
        height: 67px;
    }

    .page_list2>li:nth-child(3) {
        height: 78px;
    }

    .page_list2>li:nth-child(4) {
        height: 106px;
    }

    .page_list2>li:nth-child(5) {
        height: 78px;
    }

    .page_list2>li:nth-child(6) {
        height: 67px;
    }

    .page_list2>li:nth-child(even) {
        background: black;
    }

    .page_list2>li:nth-child(odd) {
        background: #fff;
    }

    .page_list2>li img {
        position: absolute;
    }

    .page_list2>li:nth-child(1) img {
        top: 6px;
        width: 260px;
        ;
        right: 160px;
    }

    .page_list2>li:nth-child(2) img {
        top: 10px;
        width: 300px;
        right: 100px;
    }

    .page_list2>li:nth-child(3) img:nth-child(1) {
        top: 0px;
        width: 180px;
        left: 70px;
    }

    .page_list2>li:nth-child(3) img:nth-child(2) {
        top: 15px;
        width: 380px;
        right: 52px;
    }

    .page_list2>li:nth-child(4)>img {
        top: 30px;
        width: 280px;
        right: 74px;
    }

    .page_list2>li:nth-child(5) img:nth-child(1) {
        top: 0;
        left: 148px;
        width: 114px;
    }

    .page_list2>li:nth-child(5) img:nth-child(2) {
        top: 18px;
        width: 374px;
        right: 90px;
    }

    .page_list2>li:nth-child(6) img {
        top: 33px;
        width: 324px;
        right: 104px;
    }

    .page2_nav {
        position: absolute;
        bottom: 2px;
        left: 60px;
        width: 329px;
        height: 24px;
    }

    .under_line2 {
        background: #646464;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        width: 265px;
        height: 4px;
        left: 102px;
        bottom: 0;
    }

    .move_line2 {
        width: 60px;
        position: absolute;
        left: 100px;
        top: 0;
        height: 4px;
        background: red;
    }

    .smallbox2 {
        margin-left: 200px;
        height: 100px;

    }

    .smallbox2 img {
        margin-top: 2px;
        height: 100px;
        float: left;
    }

    .sub_menu2 {
        float: left;
        margin-top: 5px;
        margin-left: 12px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sub_menu2 div a {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        margin-top: 15px;
    }

    .sub_menu2 div a:hover {
        color: red;
    }
}
@media(min-width:1440px) {

    .banner {
        width: 1440px;
        margin: 0 auto;
    }
    
    .page {
        position: absolute;
        top: 7%;
        left: 50%;
        margin-left: -720px;
        width: 1440px;
    }
    /* 顶部内容修饰 */
    .page-top {
        margin-top: 24.5px;
        height: 65px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    .sideleft {
        margin-left: 40px;
        margin-top: 36px;
        float: left;
    }

    .sideleft li {
        height: 14px;
        list-style: none;
        float: left;
        height: 14px;
        line-height: 14px;
    }

    .sideleft li:nth-child(2) {
        margin-left: 30px;
    }

    .sideleft li:nth-child(3),
    .sideleft li:nth-child(5) {
        margin: 0 15px;
        font-size: 12px;
        color: #808081;
    }

    .sideleft li:last-child {
        margin-left: 30px;
    }

    .sideleft li .cn {
        color: white;
    }

    .sideleft li a {
        color: #808081;
        font-size: 12px;
    }

    .sideleft li a:hover {
        color: #fff;
    }

    .logo {
        float: right;
        display: block;
        margin-top: 20px;
        margin-right: 66px;
    }
    .page-banner1 {
        margin-top: 32px;
        width: 1440px;
        height: 642px;
        position: relative;
        background: white;
        overflow: hidden;
    }
    .page_list2>li {
        width: 1440px;
        list-style: none;
        position: relative;
    }
    /* 美丽世界子页面导航栏修饰、 */
    .page-nav {
        margin-top: 8px;
        width: 329px;
        height: 20px;
    }

    .page-nav li {
        float: left;
        height: 20px;
        line-height: 20px;
        list-style: none;
        margin-left: 31px;
        cursor: pointer;
    }

    .page-nav li a {
        font-size: 18px;
        color: black;
    }

    .page-nav li:hover a{
        color: red;
    }

    .page-nav1 {
        color: red;
    }
    .page_list2>li:nth-child(1) {
        height: 120px;
    }

    .page_list2>li:nth-child(2) {
        height: 110px;
    }

    .page_list2>li:nth-child(3) {
        height: 110px;
    }

    .page_list2>li:nth-child(4) {
        height: 130px;
    }

    .page_list2>li:nth-child(5) {
        height: 122px;
    }

    .page_list2>li:nth-child(6) {
        height: 101px;
    }

    .page_list2>li:nth-child(even) {
        background: black;
    }

    .page_list2>li:nth-child(odd) {
        background: #fff;
    }

    .page_list2>li img {
        position: absolute;
    }

    .page_list2>li:nth-child(1) img {
        top: 6px;
        right: 354px;
    }

    .page_list2>li:nth-child(2) img {
        top: 14px;
        right: 224px;
    }

    .page_list2>li:nth-child(3) img:nth-child(1) {
        top: 0;
        left: 106px;
    }

    .page_list2>li:nth-child(3) img:nth-child(2) {
        top: 16px;
        right: 52px;
    }

    .page_list2>li:nth-child(4)>img {
        top: 36px;
        right: 220px;
    }

    .page_list2>li:nth-child(5) img:nth-child(1) {
        top: 0;
        left: 176px;
    }

    .page_list2>li:nth-child(5) img:nth-child(2) {
        top: 30px;
        right: 230px;
    }

    .page_list2>li:nth-child(6) img {
        top: 6px;
        right: 124px;
    }

    .page2_nav {
        position: absolute;
        bottom: 2px;
        left: 118px;
        width: 329px;
        height: 24px;
    }

    .under_line2 {
        background: #646464;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        width: 289px;
        height: 4px;
        left: 143px;
        bottom: 0;
    }

    .move_line2 {
        width: 71px;
        position: absolute;
        left: 107px;
        top: 0;
        height: 4px;
        background: red;
    }

    .smallbox2 {
        margin-left: 248px;
        height: 130px;

    }

    .smallbox2 img {
        margin-top: 2px;
        height: 126px;
        float: left;
    }

    .sub_menu2 {
        float: left;
        margin-top: 5px;
        margin-left: 12px;
        height: 121px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sub_menu2 div a {
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        margin-top: 15px;
    }

    .sub_menu2 div a:hover {
        color: red;
    }
}