.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.footer-info-w{
    width: 1190px;
    margin: 0 auto;
}
.footer-info-content-wrap{
    margin-top: 100px;
    width: 100%;
}
.footer-info-content-list{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.footer-info-content-list li{
    float: left;
    width: 236px;
    height: 96px;
}
.footer-info-content-list li>div{
    float: left;
    width: 234px;
    height: 96px;
}
.footer-info-content-list li>div>i{
    display: block;
    width: 49px;
    height: 49px;
    margin: 0 auto;
    background-image: url(../images/footer_ico_sprite.png)
}
.footer-info-content-list .footer-info-bgimg-one{
    background-position: -137px 0;
}
.footer-info-content-list .footer-info-bgimg-two{
    background-position: -90px 0;

}
.footer-info-content-list .footer-info-bgimg-three{
    background-position: 0px 0;
}
.footer-info-content-list .footer-info-bgimg-four{
    background-position: -180px 0;
}
.footer-info-content-list .footer-info-bgimg-five{
    background-position: -47px 0;
    width: 45px;
}
.footer-info-content-list li>div>p{
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.footer-info-content-list li>span{
    float: left;
    width: 2px;
    height: 96px;
    line-height: 96px;
    font-size: 12px;
    color: #999;
}
.footer-map-content{
    margin-top: 50px;
    width: 100%;
}
.footer-map-content-list{
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
}
.footer-map-content-list li{
    float: left;
    width: 190px;
    font-size: 12px;
}
.footer-map-content-list li>h3{
    font-weight: 700px;
    margin-bottom: 20px;
    font-size: 12px;
}
.footer-map-content-list li>p{
    margin-bottom: 10px;
}
.footer-map-content-list li>p>a{
    display: block;
    width: 190px;
    color: rgb(105, 105, 105);
}
.footer-map-content-list li>p>a:hover{
    color: #e00;
}
/* *****************footer-info-content******************* */
.footer-declaration-content{
    width: 100%;
    height: 102px;
    background-color: #000;
}
.footer-declaration-content-wrap{
    width: 1190px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
    vertical-align: middle;
}
.footer-declaration-content-wrap img{
   float: left;
}
.footer-declaration-content-wrap ul{
    float: left;
    width: 800px;
    height: 42px;
    padding: 0 20px;
    margin-left: 70px;
    color: #6f6f6f;
    font-size: 14px;
}
.footer-declaration-content-wrap ul a{
    color: #6f6f6f;
    margin: 0 25px;
    font-size: 14px;
}
.footer-declaration-content-bgimg{
    padding-left: 20px;
    background-image: url(../images/footer-redords-icon.png);
    background-repeat: no-repeat;
}