*{
	margin: 0;
	padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.clearfix:after{
	contenr:".";
	display: block;
	height:0;
	clear: both;
	visibility: hidden;
}
.help-w{
	width: 1190px;
	margin: 50px auto;
}
.c_accountNav {
    display: block;
    float: left;
    width: 240px;
}
.aboutNav h2 a {
    font-size: 14px;
    font-weight: bold;
    color: #dc002f;
}
.aboutNav h2 {
    border-top: 3px solid #000;
    height: 46px;
    line-height: 46px;
}
.aboutDetail {
    width: 910px;
    float: right;
    padding-bottom: 32px;
}
.aboutTitle {
    height: 32px;
    border-bottom: 3px solid #000;
    margin-bottom: 32px;
}
.aboutTitle h2 {
    float: left;
    font-size: 24px;
    line-height: 22px;
}
.aboutContent p {
    line-height: 22px;
}
.mail{
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}
.mb32 {
    margin-bottom: 32px;
}
.aboutContent h4 {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 24px;
}